<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Form</title>
</head>
<body>
    <form action="form" method="post" th:object="${person}">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="number" th:field="*{age}"/></td>
                <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age errors</td>
            </tr>


            <input type="submit" value="Submit" />
        </table>
    </form>
</body>
</html>